/* Lunch app styles */
* {
    margin: 0px;
    padding: 0px;
}

/*Float containers*/

#container-left {
    width: 30%;
    height: 1000px;
    background: purple;
    float: left;
}

#container-right {
    width: 70%;
    height: 1000px;
    background: grey;
    float: right;
}

/* Format nav left*/
#nav-left-top ul li {
    color: white;
    text-align: center;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}
#navLeftTop ul li {
    color: white;
    text-align: center;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}

#nav-left-bottom ul li {
    position: absolute;
    bottom: 0px;
    color: white;
    text-align: center;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}

#nav-left-bottom ul {
    position: absolute;
    bottom: 0px;
    width: 28%;
}
/* Logo title */
#logo {
    width: 30%;
    color: white;
    line-height: 75px;
    text-align: center;
}

#nav-top {
    background-color: grey;
}

/* Button Styles */
.button {
    text-decoration: none;
    color: white
}

.AspButton {
    background-color: violet;
}

li:hover {
    background-color: violet;
}

a:hover {
    color: white;
}

#profile-box {
    width: 350px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 30%;
    background: white;
}
#nav-left-side #bottom {
    /*margin-top: 90%;*/
    position: relative;
    bottom: 0px;
}
#
